@font-face {
  font-family: "Aldrich";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Aldrich-Regular.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Assistant-VariableFont_wght.ttf");
}
.App {
  text-align: center;
}

a {
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 70px;
  background: #010C1F;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: #1F5957;;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
