$breakpoints: ('small': 767px,
  'medium': 992px,
  'large': 1200px) !default;

@mixin respond-to($breakpoint) {

  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {

    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


.footer {
    position: absolute;
    width: 100%;
    height: 72px;
    background: #010C1F;
    display: flex;
    align-items: center;
    .footer-inner { 
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        div:nth-child(1) {
            width: 40%;
            height: 16px;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.5;
            text-transform: uppercase;
            text-align: left;
            color: #EAF7F4;
        }
        div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            img:nth-child(1) {
                margin-right: 50px;
                margin-left: 50px;
            }
        }
        div:nth-child(3) {
            width: 40%;
            height: 16px;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.5;
            text-transform: uppercase;
            text-align: right;
            color: #EAF7F4;
            a {
              color: white;
            }
            a:hover {
              color: #1F5957;
            }
        }
    }

}

@include respond-to('medium') {
    .footer {
        .footer-inner {
            div {
              font-size: 12px !important;
            }
            
        }
    }
}

@include respond-to('small') {
.footer {
    .footer-inner {
      div {
        font-size: 10px !important;
      }
      
    }
  }
}